<aside *ngIf="username" class="profile-card">
  <div *ngIf="displayHeader">
    <header>
      <a target="" href="">
        <img src="https://harbourspot.com/images/person_placeholder.jpg" class="hoverZoomLink">
      </a>
      <h1>{{firstname}} {{lastname}}</h1>
      <h2><i class="fa fa-user" aria-hidden="true"></i>{{username}}</h2>
    </header>
    <div class="profile-bio" *ngIf="!sendButtonClicked">
      <p>
        About: {{username}} has created <strong>{{userPostsCount}}</strong> posts.
        <span *ngIf="userPostsCount > 0">Check em out?</span>
      </p>
    </div>
    <div *ngIf="isUserLoggedIn" class="profile-social-links">
      <a (click)="displayHeader=!displayHeader" class="waves-effect waves-light btn">Send message</a>
    </div>
  </div>

  <div class="send-msg" *ngIf="!displayHeader">
    <form (ngSubmit)="sendMessage()">
      <div class="form-group">
        <label for="message">Your message to {{username}}</label>
        <input type="text" class="form-control" id="message" name="message" [(ngModel)]="message.message" required>
      </div>
      <button type="submit" class="waves-effect waves-light btn">Send</button>
      <button (click)="displayHeader=!displayHeader" class="waves-effect waves-light btn">Cancel</button>
    </form>
  </div>
</aside>
<simple-notifications [options]="options"></simple-notifications>