<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="card card-signup">

            <form class="form" (ngSubmit)="onCreatePost()" [formGroup]="postForm">
                <div class="header header-info text-center" style="height: 50%">
                    <h2>Create new post</h2>
                    <div class="social-line"></div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                      <i class="material-icons">title</i>
                    </span>
                    <div class="form-group is-empty has-info">
                        <input class="form-control" id="post-title" type="text" name="title" placeholder="Title" formControlName="title">
                        <span class="material-input"></span>
                    </div>
                    <div class="error" *ngIf="postForm.get('title').hasError( 'required') && postForm.get('title').touched">
                        Title is required
                    </div>

                </div>
                <div class="input-group"><span class="input-group-addon"><i class="material-icons">description</i></span>
                    <div class="form-group is-empty has-info">
                        <textarea class="form-control" id="post-description" type="text" name="description" placeholder="Description" formControlName="description">
                        </textarea>
                        <span class="material-input"></span>
                    </div>
                    <div class="error" *ngIf="postForm.get('description').hasError('required') && postForm.get('description').touched">
                        Description is required
                    </div>
                </div>
                <div class="footer text-center">
                    <input class="btn btn-lg btn-info" type="submit" id="create" value="Create" [disabled]="postForm.invalid">
                </div>
            </form>
        </div>
    </div>
</div>