<div class="container">
  <table class="table table-responsive">
    <thead>
      <tr>
        <th>From</th>
        <th>Message</th>
        <th>When</th>
        <th>Mark as read</th>
      </tr>
    </thead>
    <p *ngIf="(userDetails.inbox | json) == '[]'">You don't have any messages.</p>
    <tbody *ngIf="(userDetails.inbox | json) !== '[]'">
      <tr *ngFor="let message of userDetails.inbox">
        <td><a href="/users/{{message.user.username}}">{{message.user.username}}</a></td>
        <td biggerFont *ngIf="!message.isViewed"><strong>{{message.message}}</strong></td>
        <td *ngIf="!message.isViewed"><strong>{{message.date | date:'medium'}}</strong></td>
        <td biggerFont *ngIf="message.isViewed">{{message.message}}</td>
        <td *ngIf="message.isViewed">{{message.date | date:'medium'}}</td>
        <td>
          <button type="button">  
          <i class="fa fa-check green-check-mark" aria-hidden="true"></i>
          </button></td>
      </tr>
    </tbody>
  </table>
</div>