<nav class="navbar navbar-info navbar-fixed-top" id="main-navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
	        	<span class="sr-only">Toggle navigation</span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	    	</button>
        </div>

        <div class="collapse navbar-collapse" id="navigation-index">
            <ul class="nav navbar-nav navbar-right" *ngIf="!isUserLoggedIn">
                <form class="navbar-form navbar-right" (ngSubmit)="onSearch()">
                    <div class="form-group is-empty">
                        <input class="form-control col-sm-8" type="text" placeholder="Search forum post" name="search" [(ngModel)]="searchParam">
                        <span class="material-input"></span></div> <button class="glyphicon glyphicon-search"></button>
                </form>
                <li class="cd-log_reg home" [routerLinkActive]="['active']"><a class="cd-signin" [routerLink]="['/login']">Login</a></li>
                <li class="cd-log_reg" [routerLinkActive]="['active']"><a class="cd-signup" [routerLink]="['/register']">Register</a></li>
                <li class="cd-log_reg" [routerLinkActive]="['active']"><a class="cd-signup" [routerLink]="['/forum/create']">Forum</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="isUserLoggedIn">
                <li class="cd-log_reg home" [routerLinkActive]="['active']"><a class="cd-signin" [routerLink]="['/profile']">Profile</a></li>
                <li class="cd-log_reg home" [routerLinkActive]="['active']"><a class="cd-signin" [routerLink]="['/logout']" (click)="logout()">Logout</a></li>
                <li class="cd-log_reg" [routerLinkActive]="['active']"><a class="cd-signup" [routerLink]="['/forum']">Forum</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="wrapper">
    <router-outlet></router-outlet>
</div>