<div class="media">
    <div class="media-body" id="post-answer-info" data-id="5844ab6bcea03d00118d8fe9">
        <p class="lead">{{comment.content}}</p>
        <p class="comment-info"><span class="glyphicon glyphicon-time"></span> Posted on {{comment.date}} by <a href="/users/{{comment.user.username}}">{{comment.user.username}}</a></p>
        <p class="likes">Likes: <span id="post-answer-likes-count">{{likes}}</span>
            <button class="btn btn-info btn-sm like-post-answer" *ngIf="!alreadyLiked" (click)="onLike()">Like</button>
            <button class="btn btn-info btn-sm like-post-answer" *ngIf="alreadyLiked" (click)="onUnlike()">Unlike</button>
        </p>
    </div>
    <hr>
</div>