.button__badge {
  background-color: #fa3e3e;
  border-radius: 9px;
  color: white;
 
  padding: 1px 3px;
  font-size: 12px;
  
  position: absolute; /* Position the badge within the relatively positioned button */
  top: 0;
  right: 0;
}

.whole-profile-nav {
  background-color: #03a9f4;
}
.nav a {
  color: white;
}
.dropdown-menu li a {
  color: #03a9f4;
}

