<tr id="post-info" data-id="5844ab2ccea03d00118d8f9d">
    <td class="text-center"><i class="fa fa-comments-o fa-2x text-primary"></i></td>
    <td>
        <h3><a href="/forum/5844ab2ccea03d00118d8f9d">{{post.title}}</a><br><small>{{post.description}}</small></h3>
    </td>
    <td class="text-center hidden-xs hidden-sm"><a href="/users/username">username</a></td>
    <td class="text-center hidden-xs hidden-sm">{{post.answerCount}}</td>
    <td class="hidden-xs hidden-sm">
        <p class="likes">Likes: <span id="post-likes-count">{{post.likes}}</span></p>
    </td>
</tr>
