<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="card card-signup">
      <form (ngSubmit)="onCreateCategory()" [formGroup]="form">
        <div class="header header-info text-center" style="height: 50%">
<h2>Create new category</h2>
<div class="social-line"></div>
</div>
<div class="input-group">
  <span class="input-group-addon">
            <i class="material-icons">C</i>
        </span>
  <div class="form-group is-empty has-info">
    <input class="form-control" id="post-categoryName" type="text" name="categoryName" placeholder="Category Name" formControlName="categoryName">
    <span class="material-input"></span>
  </div>
  <div class="error" *ngIf="form.get('categoryName').hasError('required') && form.get('categoryName').touched">
    Category name is required
  </div>
</div>
<div class="input-group"><span class="input-group-addon"><i class="material-icons">D</i></span>
                    <div class="form-group is-empty has-info">
                        <textarea class="form-control" id="post-categoryDescription" type="text" name="categoryDescription" placeholder="Category Description" formControlName="categoryDescription">
                        </textarea>
                        <span class="material-input"></span>
                    </div>
                </div>
<div class="footer text-center">
  <input class="btn btn-lg btn-info" type="submit" id="create" value="Create" [disabled]="form.invalid">
</div>
</form>
</div>
</div>
</div>
<simple-notifications></simple-notifications>